<launch>
	<node name="backupFiles" pkg="affw_export" type="backupFiles.sh" />
	
	<param name="dataFolder" value="/tmp/affw_data" />
	<param name="odom_topic" value="/odom" />
	<param name="state_topic" value="/state" />
	<param name="pose_topic" value="/slam_out_pose" />
	<param name="cmd_vel_topic" value="/cmd_vel_raw" />
	<node name="affw_export" pkg="affw_export" type="affw_export" output="screen" />
	
	<arg name="record_topics" default="true" />
	<node pkg="rosbag" type="record" name="rosbag_record_affw"
       args="record -o /tmp/affw_data/rosbag /odom /slam_out_pose /odom_raw /state /state_cov /cmd_vel_raw /cmd_vel /tf /affw_ctrl/proc_time /affw_ctrl/target_request /odometry/filtered /affw_ctrl/state"
       if="$(arg record_topics)" />
</launch>